<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand navbar-expand-lg" [routerLink]="['/home']">
            <h4 class="display-6">One Touch</h4>
        </a>
        <button class="btn btn-lg btn-outline-dark" type="button" (click)="logout()">
            <span>Logout </span>
            <i class="bi bi-box-arrow-right"></i>
        </button>
    </div>
</nav>

<div class="container">
    <div class="mb-3">
        <app-add-emp></app-add-emp>
    </div>
    <div>
        <app-view-emp></app-view-emp>
    </div>
</div>